@import "colors";
@import "~bulma/bulma";

h1 {
  color: $primary-color;
}

.section {

}

#portrait-container {
  border-radius: 50%;
  background: $primary-color;
}

#contact, #projects, #about {
  height: 100vh;
}
#contact {
  padding-top: 0;
}