@import "colors";

$primary: $purple;


@import "~bulma/bulma";

// anchor helper

body {
  background: blue;
}

.anchor-helper {
  visibility: hidden;
  padding-top: 110px;
  margin-top: -110px;
}

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fullheight-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#intro-section {
  justify-content: center;
  height: 100vh;
}

#contact-section {
  height: 85vh;
  padding-top: 0;
}

#portrait-container {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.img-circle {
  border-radius: 100%;
}

.skills-list {
  height: 100%;
}

.skills-list > li {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-link {
  height: 100%;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.skills-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-list > li:hover > .skills-tooltip {
  opacity: 1;
  visibility: visible;
}



