section#about.about
  .about__column.about__column-left.orange
    p work and education history
    p. 
      BSc with focus on Software Engineering and Web Technologies, Open University
    <br />
    p.
      Contractor in Data Analysis
      Clients: Google, Facebook, Instagram
      
  .about__column.about__column-right.purple
    p. 
      I´m currently wrapping up my bachelor studies at the Open University 
      and do Search Engine Evaluation for a number of clients.
      
      Being self-employed has taught me to effectively manage my time and get things done. 