section.fullheight-section
  .container.title-container.has-text-centered
    .anchor-helper#about
    h2.title.is-2 About
    h6.subtitle A brief overview
  section.section
    .columns
      .column
        p description
      .column
        p skills