section#about.section
    section.hero
      .hero-body
        .container.has-text-centered
          #portrait-container
            
          h2.title.is-2 Johannes Loewe
          h6.subtitle A brief overview 
    section
      .columns
        .column
          p image
        .column
          p education