section#contact.contact
  .contact__column.contact__column-left.orange
    p If you´d like to contact me, find me on social media or shoot me a message
  .contact__column.contact__column-right
    form.form 
      .form__field.form__field--apart
        input.form__input(type="text")
        label.form__label Your Name
      .form__field.form__field--apart
        input.form__input(type="email")
        label.form__label Your E-Mail
      .form__field
        textarea.form__textarea(rows="8")
      .form__field
        button.form__button Submit