section#contact.section
    section.hero
        .hero-body
          .container.has-text-centered
            h2.title.is-2 Contact
            h6.subtitle Find me on social media or just send a message
    section
      .columns
        .column.is-1
        .column.is-10
          section.section
            .columns
              .column.is-3
                .container-fluid.has-text-centered
                  ul
                    li Github
                    li Upwork
              .column.is-6
                form.has-text-centered
                  .field
                    label.label Your Name
                    p.control
                      input.input(type="text")
                  .field
                    label.label Your Email
                    p.control
                      input.input(type="email")
                  .field
                    label.label Your Message
                    p.control
                      textarea.textarea
              .column.is-3
                .container-fluid.has-text-centered
                  ul
                    li Xing
                    li LinkedIn
        .column.is-1