link(href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet")
link(rel="stylesheet" href="styles.bundle.css" type="text/css")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
title Johannes Loewe - Web Developer