section#intro-section.section.fullheight-section
  section.section#portrait-container
    img.image.img-circle(src="https://placehold.it/400x400")
  .container.has-text-centered
    h1.title Johannes Loewe
    h2.subtitle Web Developer
  
