section#intro.intro
  .brief
    .brief__hexagon-outer
      .brief__hexagon-inner1
        .brief__hexagon-inner2
          img.brief__portrait(src="johannes-loewe-portrait.jpg")
    .brief__divider
    .brief__info
  .greeting
    h1.greeting__heading Hi, I´m Johannes Loewe.
    p.greeting__text
      | I´m a web developer working on both the backend and frontend of the web.
      br
      | While I enjoy building web-apps the most, I also take a lot of interest 
      | in software testing and accessibility.
