include ./../mixins/icon_link.pug

section#projects.projects
  .projects__grid-item.projects__top-left
    .project
      .project__description
        h4.project__heading Voto
        p.project__text a voting web app with a Vue.js frontend consuming an Express.js REST API
      .link-box
        .link-box__icons
          +icon_link("https://voto.loewe.pm", "fa-link", "web")
          +icon_link("https://github.com/zetamorph/voto", "fa-github", "github")
        .link-box__description View source on Github
  .projects__grid-item.projects__top-right.shortr
    .project
      .project__description
        h4.project__heading Shortr
        p.project__text A simple URL shortener utilising Express.js
      .tech-box
        
      .link-box
        .link-box__icons
          +icon_link("https://shortr.loewe.pm", "fa-link", "web")
          +icon_link("https://github.com/zetamorph/shortr", "fa-github", "github")
        .link-box__description View source on Github
  .projects__grid-item.projects__bottom-left
    h3 feuertruppe.de
  .projects__grid-item.projects__bottom-right
    h3 stallforth-lab.de