section#projects.section
    section.hero
      .hero-body
        .container.has-text-centered
          h2.title.is-2 Projects
          h6.subtitle A selection of my previous works
    section
      #project-slider-container.container
        .columns
          .column.is-1
          .column.is-10
            .tile.is-ancestor
              .tile.is-vertical.is-8
                .tile
                  .tile.is-parent.is-4
                    .tile.is-child.notification.box
                      ul
                        li Node.js
                        li Express.js
                        li SQLite 3
                        li Vue.js
                        li Git 
                  .tile.is-parent.is-vertical
                    img.is-child.image(src="http://placehold.it/640x480")
                .tile.is-parent
                  article.tile.is-child.notification.box challenges here 
              .tile.is-parent.is-4
                article.is-child.notification.box
                  | descriotion comes here it was very interesting to do this project yes yes yes yes
            .column.is-1