section.fullheight-section
  .container.title-container.has-text-centered
    .anchor-helper#projects
    h2.title.is-2 Projects
    h6.subtitle A selection of my previous works
  section.section
    #project-slider-container.container
      .columns
        .column.is-1
        .column.is-10
          .tile.is-ancestor
            .tile.is-vertical.is-8
              .tile
                .tile.is-parent.is-4
                  .tile.is-child.box
                    ul.skills-list
                      li 
                        img.image(src="node.png")
                      li 
                        img.image(src="express.png")
                      li 
                        img.image(src="vue.png")
                      li  
                        img.image(src="sqlite.png")
                      li 
                        img.image(src="browserify.png")
                .tile.is-parent.is-vertical
                  a.portfolio-link.box(href="https://voto.loewe.pm" target="_blank")
                    img.image(src="voto.png")
              .tile.is-parent
                article.tile.is-child.box challenges here 
            .tile.is-parent.is-4
              article.is-child.box
                | descriotion comes here it was very interesting to do this project yes yes yes yes
          .column.is-1