/* Reset browser styles */

html, body, h1 {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: white;
}

html, body {
	width: 100%;
	background-color: #4CCC00;
	color: white;
	font-family: "Raleway", sans-serif;
}

header {
	padding: 20px;
}

h1, h2 {
	text-align: center;
	display: block;
}

section, header, footer {
	background-color: #646464;
	width: 100%;
}

section, header, nav > ul > li {
	-webkit-box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.5);
}

nav > ul {
	display: flex;
	justify-content: space-around;
	padding: 5px;

}

nav > ul > li {
	background-color: #646464;
	padding: 15px;

}


section {
	margin-top: 4vh;
	padding-top: 2vh;
	padding-bottom: 4vh;
}

ul {
	list-style: none;
}

/* #intro section styles */

#intro {
	display: flex;
	padding-top: 4vh;
	justify-content: space-around;
}

.portrait, .intro-text {
	width: 40%;
}

.portrait {
	background-image: url("../img/johannes-loewe.jpg");
	background-size: cover;
	border-radius: 50%;
	background-repeat: no-repeat;
	width: 30vw;
	height: 30vw;

}

/* #portfolio section styles */

#portfolio {

}

.pf-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pf-col {
	width: 31%;
	flex-basis: auto;
	padding-top: 4vh;
}

.pf-col > img {
	width:100%;

}

/* #skills section styles */

#skills {
	display: block;
}

.skill-box {
	width: 90%;
	height: 100vh;
}

/* #contact section styles */

#contact {
	justify-content: center;
}

footer {
	margin-top: 4vh;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}




